In [89]:
!pip install pandas
import pandas as pd
hospitalCost=pd.read_csv('HospitalDataset/HospitalCosts.csv')
hospitalCost

Requirement already satisfied: pandas in c:\users\toyes\appdata\local\programs\python\python311\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\toyes\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\toyes\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\toyes\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\toyes\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

     AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
0     17       1    2   1.0    2660     560
1     17       0    2   1.0    1689     753
2     17       1    7   1.0   20060     930
3     17       1    1   1.0     736     758
4     17       1    1   1.0    1194     754
..   ...     ...  ...   ...     ...     ...
495    0       1    6   1.0    5881     636
496    0       1    2   1.0    1171     640
497    0       1    2   1.0    1171     640
498    0       1    2   1.0    1086     640
499    0       0    4   1.0    4931     640

[500 rows x 6 columns]

In [90]:

!pip install pandas
import pandas as pd
hospitalCost=pd.read_csv('HospitalDataset/HospitalCosts.csv')
hospitalCost

Requirement already satisfied: pandas in c:\users\toyes\appdata\local\programs\python\python311\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\toyes\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\toyes\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\toyes\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\toyes\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

     AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
0     17       1    2   1.0    2660     560
1     17       0    2   1.0    1689     753
2     17       1    7   1.0   20060     930
3     17       1    1   1.0     736     758
4     17       1    1   1.0    1194     754
..   ...     ...  ...   ...     ...     ...
495    0       1    6   1.0    5881     636
496    0       1    2   1.0    1171     640
497    0       1    2   1.0    1171     640
498    0       1    2   1.0    1086     640
499    0       0    4   1.0    4931     640

[500 rows x 6 columns]

In [91]:
hospitalCost.shape

(500, 6)

In [92]:
hospitalCost.columns

Index(['AGE', 'FEMALE', 'LOS', 'RACE', 'TOTCHG', 'APRDRG'], dtype='object')

In [93]:
!pip install numpy
import numpy as np
hospitalCost.select_dtypes(np.number)

Requirement already satisfied: numpy in c:\users\toyes\appdata\local\programs\python\python311\lib\site-packages (1.24.2)

     AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
0     17       1    2   1.0    2660     560
1     17       0    2   1.0    1689     753
2     17       1    7   1.0   20060     930
3     17       1    1   1.0     736     758
4     17       1    1   1.0    1194     754
..   ...     ...  ...   ...     ...     ...
495    0       1    6   1.0    5881     636
496    0       1    2   1.0    1171     640
497    0       1    2   1.0    1171     640
498    0       1    2   1.0    1086     640
499    0       0    4   1.0    4931     640

[500 rows x 6 columns]

In [94]:
hospitalCost.isnull().sum()

AGE       0
FEMALE    0
LOS       0
RACE      1
TOTCHG    0
APRDRG    0
dtype: int64

In [95]:
hospitalCost[hospitalCost['RACE'].isnull()]

     AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
276    0       1    2   NaN    1156     640

In [96]:
hospitalCost=hospitalCost.drop(labels=276, axis=0)

In [97]:
X = hospitalCost.drop(['LOS'], axis=1)
Y = hospitalCost['LOS']

In [98]:
X_train = np.array(X[0:int(0.80*len(X))])
Y_train = np.array(Y[0:int(0.80*len(Y))])
X_test = np.array(X[int(0.80*len(X)):])
Y_test = np.array(Y[int(0.80*len(Y)):])
len(X_train), len(Y_train), len(X_test), len(Y_test)

(399, 399, 100, 100)

In [99]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
LR = LogisticRegression()
KNN = KNeighborsClassifier()
NB = GaussianNB()
LSVM = LinearSVC()
NLSVM = SVC(kernel='rbf')
DT = DecisionTreeClassifier()
RF = RandomForestClassifier()
LR_fit = LR.fit(X_train, Y_train)
KNN_fit = KNN.fit(X_train, Y_train)
NB_fit = NB.fit(X_train, Y_train)
LSVM_fit = LSVM.fit(X_train, Y_train)
NLSVM_fit = NLSVM.fit(X_train, Y_train)
DT_fit = DT.fit(X_train, Y_train)
RF_fit = RF.fit(X_train, Y_train)
LR_pred = LR_fit.predict(X_test)
KNN_pred = KNN_fit.predict(X_test)
NB_pred = NB_fit.predict(X_test)
LSVM_pred = LSVM_fit.predict(X_test)
NLSVM_pred = NLSVM_fit.predict(X_test)
DT_pred = DT_fit.predict(X_test)
RF_pred = RF_fit.predict(X_test)
from sklearn.metrics import accuracy_score
print("Logistic Regression is %f percent accurate" % (accuracy_score(LR_pred, Y_test)*100))
print("KNN is %f percent accurate" % (accuracy_score(KNN_pred, Y_test)*100))
print("Naive Bayes is %f percent accurate" % (accuracy_score(NB_pred, Y_test)*100))
print("Linear SVMs is %f percent accurate" % (accuracy_score(LSVM_pred, Y_test)*100))
print("Non Linear SVMs is %f percent accurate" % (accuracy_score(NLSVM_pred, Y_test)*100))
print("Decision Trees is %f percent accurate" % (accuracy_score(DT_pred, Y_test)*100))
print("Random Forests is %f percent accurate" % (accuracy_score(RF_pred, Y_test)*100))

Logistic Regression is 51.000000 percent accurate
KNN is 69.000000 percent accurate
Naive Bayes is 27.000000 percent accurate
Linear SVMs is 50.000000 percent accurate
Non Linear SVMs is 52.000000 percent accurate
Decision Trees is 66.000000 percent accurate
Random Forests is 67.000000 percent accurate

c:\Users\toyes\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\toyes\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [100]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
seed=0
cv = KFold(n_splits=5,random_state=2, shuffle=True)

In [101]:
def return_score(model,X_train, X_test, y_train, y_test):
   model.fit(X_train, y_train)
   score = model.score(X_test, y_test)
   return score
scores = []

In [102]:
model = LogisticRegression()
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("K-Fold Score: {}".format(np.mean(scores)))

Accuracy score in each iteration: [0.42, 0.38, 0.39, 0.48, 0.44]
K-Fold Score: 0.422

c:\Users\toyes\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\toyes\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\toyes\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\toyes\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\toyes\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [103]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold


cv = StratifiedKFold(n_splits=5,random_state=2, shuffle=True)

In [104]:
model = RandomForestClassifier()
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("Stratified K-Fold Score: {}".format(np.mean(scores)))

c:\Users\toyes\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

Accuracy score in each iteration: [0.42, 0.38, 0.39, 0.48, 0.44, 0.6, 0.75, 0.66, 0.63, 0.72]
Stratified K-Fold Score: 0.5469999999999999